.container {
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    min-width: 30rem;
    flex-wrap: wrap;
}

.container-column {
    flex-basis: 100%;
    flex: 1;
    min-width: 30rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


@media only screen and (max-width: 900px) {

    .container {
        justify-content: center;
    }
}  


@media only screen and (max-width: 600px) {

    .container {
        justify-content: center;
    }
}  
