html {
  background-color: #fae6a4;
}

body {
  background-image: linear-gradient(#FFCB1F, #E0AC00);
  font-size: calc(10px + 1.5vmin);
  color: white;
  min-height: 100vh;
  font-family: 'Open Sans';
}

h1, h2, h3 {
  font-family: 'Staatliches';
  letter-spacing: 1px;
}

.header_title {
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  line-height: 2em;
}

.emphasis_1 {
  font-weight: 600;
  font-size: 2em;
}

.emphasis_2 {
  font-weight: 800;
  font-size: 2em;
}

.font_page_image {
  position: relative;
  width: 100%;
}

.font_page_image img {
  width: 90%;
  margin-top: -2rem;
}