:root {
  --bp-largest: 75em;
  --bp-large: 68.75em;
  --bp-medium: 56.25em;
  --bp-small: 37.5em;
  --bp-smallest: 31.25em;
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  background-color: #fae6a4;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6;
  background-image: linear-gradient(#FFCB1F, #E0AC00);
  font-size: calc(10px + 1.5vmin);
  color: white;
  min-height: 100vh;
}

.body_container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

h1, h2, h3 {
  font-family: 'Staatliches';
  letter-spacing: 1px;
}

.header_title {
  text-transform: uppercase;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  line-height: 2em;
}

.emphasis_1 {
  font-weight: 600;
  font-size: 2em;
}

.emphasis_2 {
  font-weight: 800;
  font-size: 2em;
}

.font_page_image {
  position: relative;
  width: 100%;
}

.font_page_image img {
  width: 90%;
}

